#collaborateur-content{
  $line: 7px;

  .background-grey{
    background: $grey-light;
  }

  .container-image{
    position:relative;
    width: 100%;
    height:100%;
   border-bottom:5px solid $blue;
  }

  .center{
    text-align:center;
  }

  .info{
    padding: 30px 0;
    h3{
      font-weight:100;
      margin-top:0;
    }
    margin-bottom:30px;
  }
 .thumbnail{
  max-height:245px;
  height: 245px;
   width:100%;
   background-size:cover;
   background-position: center center;
   background-repeat: no-repeat;
   @include media-breakpoint-down(sm) {
   height: 262px;
   }
 }




.chiffre-clef{
  text-align:center;
  margin-top:15px;
  i{
    font-size:60px;
  }
  &-label{
    font-size: 14px;
    font-weight:600;
    color: $blue;
    margin:0;
  }
  &-number{
    font-size: 50px;
    font-weight:600;
    color: $blue;
    margin:0;
  }
}





#teams,
#association{
  background: $grey-light;
}

#managment{
  background: $white;
  text-align:center;
  a{
    color: $grey-dark;
    &:hover{
      text-decoration:none
    }
   
  }
}

.margin-top{
  margin-top:15px;
}
.margin-bottom{
  margin-bottom:15px;
}














 

 .information{
   margin-top:30px;
 }
 .sticky-wrap{
   background: $white;
   padding:30px;

   box-shadow: 0px -11px 67px #00000017;
   height: 100%;
   .row{
     margin-bottom:15px;
   }
   p{
     font-size:13px;
     margin-bottom:0;
   }
   ul{
     margin:0;
     padding:0;
     font-size:13px;
     list-style:none;
   }

   @include media-breakpoint-down(md) {
    padding:20px 15px;
   }
 }

 .padding{
   padding-top:30px;
   padding-bottom:30px;
 }
 .content{
  /* margin-top: 30px; */
  padding: 30px;
  /* margin-bottom: 30px; */
   &-block{
     margin-bottom:30px;
   }
   :last-child{
    margin-bottom:0;
   }
 }
}

.sticky{
  position: sticky;
  top: 69px;
  padding-left: 0;
  @include media-breakpoint-down(md) {
    padding-right:0;
    position:relative;
    top:initial;
  }
}

.services-content{
  background: $white;
  &:nth-child(even){
    background:$grey-light;
  }
  
  padding-top:30px;
  &-single{
    margin-bottom:30px;
    img{
      max-width:100%;
      width:100%;
    }
    ul{
      list-style:none;
      margin:0;
      padding:0;
      li{
        margin-bottom:10px;
      }
    }
   
  }
}

.teamsbottom{
  padding-bottom:30px;
}
.block-teams{
  padding-top:30px;
  h2{
    margin-bottom:0;
  }
}

.collaborateurs{
  padding-bottom:0!important;
}
.collaborateur{
  margin-bottom: 15px
}

.collaborateur-block{
  padding-left:15px;
  background: $white;
  text-align:left;
  height: 100%;
  @include media-breakpoint-down(md) {
  margin-bottom:15px;
  }
  &-content{
    padding:15px;
    padding-left:0;
  }
  h3{
    color:$blue;
    margin-top: 0;
  }
  .fonction{
    font-weight:600;
    color:$grey-dark;
    min-height: 50px;
  }
  .formation{
    font-style: italic;
  }

  img{
    width:100%;
    border-bottom: 5px solid #138d9f;
  }

  ul {
    padding: 0;
    list-style: none;
    font-size:14px;

    li {
      position: relative;
        padding-left: 18px;
        margin-bottom:15px;
      &:before {
        position: absolute;
        left: 0;
        top: 3px;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
      }
      &.mail {
        &:before {
          content: "\f0e0";
          color:$grey-dark;
        }
      }

      &.telephone {
        color:$blue;
        &:before {
          content: "\f095";
          color:$grey-dark;
        }
      }
    }
  }
}