<section id="collaborateur-content">
  <div id="introduction">
    <div class="container link">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="content" data-aos="fade-up" data-aos-delay="0">
            <div class="info center">
              <h3>Actuellement, le bureau MGI dispose de l’expérience et des compétences d’environ 40 collaborateurs, dont : <b>14 ingénieurs</b> (civil, en environnement, géomètre) EPF – HES <b>4 techniciens</b> (chef de chantier, domaine du génie-civil) <b>7 dessinateurs</b> (génie civil et béton armé) <b>2 secrétaires / comptables</b> <b>1 spécialiste informatique</b> <b>4 apprentis</b></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="teams" class="teamsbottom">
    <div class="container link">
      <div class="row">
        <div class="col-lg-12 center block-teams">
          <h2 data-aos="fade-up" data-aos-delay="200">Direction</h2>
          <div class="row padding collaborateurs" data-aos="fade-up" data-aos-delay="400">
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/MARCGENILLOUD.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>MARC GENILLOUD</h3>
                  <div class="fonction">Directeur général</div>
                  <div class="formation">Ingénieur civil EPFZ-SIA – REG A</div>
                  <ul>
                    <li class="telephone">+41 21 948 30 32<br />
                      +41 79 610 20 62
                    </li>
                    <li class="mail"><a href="mailto:mgenilloud@mgi-ingenieurs.ch">mgenilloud@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/alexandregaillard.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Alexandre Gaillard</h3>
                  <div class="fonction">Directeur adjoint<br />site de Châtel-St-Denis et Bulle</div>
                  <div class="formation">Ingénieur civil HES</div>
                  <ul>
                    <li class="telephone">+41 21 948 30 30<br />
                      +41 79 589 74 10
                    </li>
                    <li class="mail"><a href="mailto:agaillard@mgi-ingenieurs.ch">agaillard@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->






            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/fabriceconus.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>FABRICE CONUS</h3>
                  <div class="fonction">Directeur adjoint<br />site de Romont</div>
                  <div class="formation">Ingénieur civil HES / M.Sc.A</div>
                  <ul>
                    <li class="telephone">+41 26 652 14 15<br />
                      +41 79 382 68 82
                    </li>
                    <li class="mail"><a href="mailto:fconus@mgi-ingenieurs.ch">fconus@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/anhkhoaphung.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>ANH KHOA PHUNG</h3>
                  <div class="fonction">Directeur adjoint<br />site de Villars-sur-Glâne</div>
                  <div class="formation">Ingénieur civil E.S.G.C, Hanoi,Vietnam</div>
                  <ul>
                    <li class="telephone">+41 26 321 19 30<br />
                      +41 79 902 52 33
                    </li>
                    <li class="mail"><a href="mailto:phung@mgi-ingenieurs.ch">phung@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
          </div>

        </div><!-- bloc teams -->
         <div class="col-lg-12 center block-teams">
          <h2 data-aos="fade-up" data-aos-delay="200">Administration</h2>
          <div class="row padding collaborateurs" data-aos="fade-up" data-aos-delay="400">
           <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
          </div>
        </div><!-- bloc teams -->
         <div class="col-lg-12 center block-teams">
          <h2 data-aos="fade-up" data-aos-delay="200">Ingénieurs</h2>
          <div class="row padding collaborateurs" data-aos="fade-up" data-aos-delay="400">
           <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
          </div>
        </div><!-- bloc teams -->
        <div class="col-lg-12 center block-teams">
          <h2 data-aos="fade-up" data-aos-delay="200">Techniciens</h2>
          <div class="row padding collaborateurs" data-aos="fade-up" data-aos-delay="400">
           <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
          </div>
        </div><!-- bloc teams -->
        <div class="col-lg-12 center block-teams">
          <h2 data-aos="fade-up" data-aos-delay="200">Dessinateurs</h2>
          <div class="row padding collaborateurs" data-aos="fade-up" data-aos-delay="400">
           <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
          </div>
        </div><!-- bloc teams -->
         <div class="col-lg-12 center block-teams">
          <h2 data-aos="fade-up" data-aos-delay="200">En formation</h2>
          <div class="row padding collaborateurs" data-aos="fade-up" data-aos-delay="400">
           <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6" data-aos="fade-up" data-aos-delay="0">
              <div class="collaborateur-block">
                <img src="assets/img/placeholder.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Prénom Nom</h3>
                  <div class="fonction">Fonction</div>
                  <div class="formation">Formation</div>
                  <ul>
                    <li class="telephone">+41 00 000 00 00<br />
                      +41 00 000 00 00
                    </li>
                    <li class="mail"><a href="mailto:mail@mgi-ingenieurs.ch">mail@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
          </div>
        </div><!-- bloc teams -->
      </div>
    </div>
  </div>
</section>