body.login {
    background-color:#f7f7f7;
    outline: 0;
  }

.login h1 a {
    background-image: url('../img/logo.svg');
    height: 78px;
    background-size: 100%;
    width: 150px;
  }
  .login form {
    margin-top: 20px;
    margin-left: 0;
    padding: 26px 24px 46px;
    font-weight: 400;
    overflow: hidden;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.13);
    font-family: 'Poppins', sans-serif;
}

.login form label{
    color: #138D9F;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.login input[type="text"]{
    background-color: #ffffff;
    border-color:#dddddd;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px ;
  }
  
  .login input[type="password"]{
    background-color: #ffffff;
    border-color:#dddddd;
   border-radius: 4px;
   font-size: 16px;
    padding: 10px ;
  }

  .login .button-primary {
    width: 120px;
    float:right;
    background: none ;
    background-color: #138D9F !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#138D9F), to(#138D9F));
    background: -webkit-linear-gradient(top, #138D9F, #138D9F);
    background: -moz-linear-gradient(top, #138D9F, #138D9F);
    background: -ms-linear-gradient(top, #138D9F, #138D9F);
    background: -o-linear-gradient(top, #138D9F, #138D9F);
    background-image: -ms-linear-gradient(top, #138D9F 0%, #138D9F 100%);
    color: #ffffff;
    border-radius: 4px;
    border: 1px solid #138D9F;
    text-shadow: none;
    box-shadow: none;
  }

  .login .button-primary:hover {
    background-color:white !important;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(white ));
    background: -webkit-linear-gradient(top, white, white );
    background: -moz-linear-gradient(top, white, white );
    background: -ms-linear-gradient(top, white, white );
    background: -o-linear-gradient(top, white, white );
    background-image: -ms-linear-gradient(top, white 0%, white 100%);
    color: #138D9F;
    border-radius: 4px;
    border: 1px solid #138D9F;
  }

  .post-type-form .page-title-action{
    display: none;
  }
