
.type-telechargement .inline.hide-if-no-js{
  display:none!important;
}

.post-type-telechargement #edit-slug-buttons{
  display:none;
}

.post-type-telechargement .page-title-action{
  display:none!important;
}

.post-type-telechargement .view{
  display:none;
}
.post-type-telechargement .row-actions .edit{
  display:none;
}

h4.size{
  color:#000;
  font-weight:100;
}

.dropzone {
  min-height:auto!important;
  border: 2px dashed rgb(0 124 186)!important;
  background: white!important;
  padding: 40px 20px!important;
  transition:all 0.4s;

}

.dropzone.dz-drag-hover{
  border: 2px solid rgb(0 124 186)!important;
  background: #f1f1f1!important;
}

.copy.button{
  margin-left: 15px;
  margin-top: 11px;
}

#submit_telechargements{
  margin-top: 11px;
}

#telechargement a{
  background: #0073aa;
  padding: 5px;
  color: #fff;
  text-decoration: none;
  margin-top: 12px;
  display: inline-block;
}




.box {
  font-size: 1.25rem;
  background-color: #ececec;
  position: relative;
  padding: 100px 20px;
}

#telechargementblock .custominput{
    width:100%!important;
    margin-bottom:15px;
    margin-top:0;
}
.box.has-advanced-upload {
  outline: 2px dashed #0073aa;
  outline-offset: -10px;

  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.box.is-dragover {
  outline-offset: -15px;
  outline-color: #0073aa;
  background-color: #ececec;
}

.box__dragndrop,
.box__icon {
  display: none;
}

.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.box.has-advanced-upload .box__icon {
  width: 100%;
  height: 80px;
  fill: #92b0b3;
  display: block;
  margin-bottom: 40px;
}

.box.is-uploading .box__input,
.box.is-success .box__input,
.box.is-error .box__input {
  visibility: hidden;
}

.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box.is-uploading .box__uploading,
.box.is-success .box__success,
.box.is-error .box__error {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  text-align:center;

  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.box__uploading {
  font-style: italic;
}

.box__success {
  -webkit-animation: appear-from-inside .25s ease-in-out;
  animation: appear-from-inside .25s ease-in-out;
}

@-webkit-keyframes appear-from-inside {
  from {
    -webkit-transform: translateY(-50%) scale(0);
  }

  75% {
    -webkit-transform: translateY(-50%) scale(1.1);
  }

  to {
    -webkit-transform: translateY(-50%) scale(1);
  }
}

@keyframes appear-from-inside {
  from {
    transform: translateY(-50%) scale(0);
  }

  75% {
    transform: translateY(-50%) scale(1.1);
  }

  to {
    transform: translateY(-50%) scale(1);
  }
}

.box__restart {
  font-weight: 700;
}

.box__restart:focus,
.box__restart:hover {
  color: #39bfd3;
}

.js .box__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.js .box__file+label {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: block;
    overflow: hidden;
    text-align: center;
}

.js .box__file+label:hover strong,
.box__file:focus+label strong,
.box__file.has-focus+label strong {
  color: #39bfd3;
}

.js .box__file:focus+label,
.js .box__file.has-focus+label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.js .box__file+label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */
}

.no-js .box__file+label {
  display: none;
}

.no-js .box__button {
  display: block;
}

.box__button {
  font-weight: 700;
  color: #e5edf1;
  background-color: #39bfd3;
  display: block;
  padding: 8px 16px;
  margin: 40px auto 0;
}

.box__button:hover,
.box__button:focus {
  background-color: #0f3c4b;
}

@media only screen and (min-width: 500px) {
    #dashboard-widgets .postbox-container {
        width:50% !important;
    }
}