#jobs-content{
  $line: 7px;
  margin-bottom:30px;
  .container-image{
    position:relative;
    width: 100%;
    height:100%;
   border-bottom:5px solid $blue;
  }

  .info{
    h3{
      font-weight:100;
      margin-top:0;
    }
    margin-bottom:30px;
  }
 .thumbnail{
  min-height: 400px;
  height:100%;
   width:100%;
   background-size:cover;
   background-position: center center;
   background-repeat: no-repeat;
   @include media-breakpoint-down(sm) {
   height: 262px;
   }
 }
 .extend-right{
   padding-right:0;
   @include media-breakpoint-down(md) {
     padding-left: 0;
     .content{
      padding:20px 15px;

     }
   }
 }

 .information{
   margin-top:30px;
 }
 .sticky-wrap{
   background: $white;
   padding:30px;

   box-shadow: 0px -11px 67px #00000017;
   height: 100%;
   .row{
     margin-bottom:15px;
   }
   p{
     font-size:13px;
     margin-bottom:0;
   }
   ul{
     margin:0;
     padding:0;
     font-size:13px;
     list-style:none;
   }

   @include media-breakpoint-down(md) {
    padding:20px 15px;
   }
 }
 .content{
   margin-top:30px;
   background:$grey-light;
   padding:30px;
   &-block{
     margin-bottom:30px;
   }
   :last-child{
    margin-bottom:0;
   }
 }

 .job-top{
   margin-top:30px;
 }
}

.sticky{
  position: sticky;
  top: 69px;
  padding-left: 0;
  @include media-breakpoint-down(md) {
    padding-right:0;
    position:relative;
    top:initial;
  }
}