<section id="jobs-content" data-aos="fade-up" data-aos-delay="300">
  <div class="container link">
    <div class="row">
      <div class="col-lg-8 extend-right">
        <div class="content" data-aos="fade-up" data-aos-delay="400">
            <div class="info">
    <h3>Le bureau MGI, avec plus de 30 collaborateurs, a une importante position dans le domaine du génie civil et de l’environnement.
Le bureau est à la recherche d’un nouveau collaborateur qui souhaite œuvrer dans des projets concrets, développer ses compétences et s’épanouir dans son métier. </h3>
    </div>
          <h2>Dessinateur/trice en génie civil (CFC)</h2>
          <h3>Votre profil :</h3>
          <p>Titulaire d’un CFC de dessinateur/trice en génie civil, vous disposez d’un intérêt particulier et
            idéalement de quelques années d’expérience professionnelle dans le domaine des routes et des canalisations
            et vous souhaitez travailler au sein d’un bureau d’étude reconnu.

            Organisé/e et structuré/e, vous maîtrisez Autocad. Des connaissances d’Autocad civil 3D sont un atout. Vous
            aimez collaborer au sein d’une équipe pluridisciplinaire et appréciez les relations humaines. Précis/e,
            méthodique et consciencieux/se vous faites preuve d’un bon esprit d’équipe.

            <h3>Vos tâches :</h3>
            <ul>
              <li>Elaboration de plans d’étude, d’exécution des projets dans le domaine du génie civil (routes,
                canalisations et infrastructures).</li>
              <li>Etablissement d’avant-métrés, base de soumission.</li>
            </ul>
          </p>

          <h3>Nous vous offrons :</h3>
          <p>Une structure jeune et dynamique et un travail sur des projets de grande envergure. MGI vous offre une
            ambiance de travail agréable, un horaire attractif et un salaire à la hauteur de vos compétences et de votre
            implication.

            La date d’entrée en fonction est de suite ou à convenir.
            Nous serons ravis de prendre connaissance de votre dossier complet qui sera traité avec la plus grande
            discrétion.

            Vos offres sont à transmettre à l’adresse <a href="mailto:#job@mgi-ingenieurs.ch">job@mgi-ingenieurs.ch</a>.
            Nous ne prenons pas en considération les offres d’agences de placement</p>



        </div>
        <!--
         <div class="content" data-aos="fade-up" data-aos-delay="400">

          <h2>Dessinateur/trice en génie civil (CFC)</h2>
          <h3>Votre profil :</h3>
          <p>Titulaire d’un CFC de dessinateur/trice en génie civil, vous disposez d’un intérêt particulier et
            idéalement de quelques années d’expérience professionnelle dans le domaine des routes et des canalisations
            et vous souhaitez travailler au sein d’un bureau d’étude reconnu.

            Organisé/e et structuré/e, vous maîtrisez Autocad. Des connaissances d’Autocad civil 3D sont un atout. Vous
            aimez collaborer au sein d’une équipe pluridisciplinaire et appréciez les relations humaines. Précis/e,
            méthodique et consciencieux/se vous faites preuve d’un bon esprit d’équipe.

            <h3>Vos tâches :</h3>
            <ul>
              <li>Elaboration de plans d’étude, d’exécution des projets dans le domaine du génie civil (routes,
                canalisations et infrastructures).</li>
              <li>Etablissement d’avant-métrés, base de soumission.</li>
            </ul>
          </p>

          <h3>Nous vous offrons :</h3>
          <p>Une structure jeune et dynamique et un travail sur des projets de grande envergure. MGI vous offre une
            ambiance de travail agréable, un horaire attractif et un salaire à la hauteur de vos compétences et de votre
            implication.

            La date d’entrée en fonction est de suite ou à convenir.
            Nous serons ravis de prendre connaissance de votre dossier complet qui sera traité avec la plus grande
            discrétion.

            Vos offres sont à transmettre à l’adresse <a href="mailto:#job@mgi-ingenieurs.ch">job@mgi-ingenieurs.ch</a>.
            Nous ne prenons pas en considération les offres d’agences de placement</p>



        </div>-->
      </div>
      <div id="sidebar" class="col-lg-4 information">
        <div class="sticky-wrap">
          <div class="sticky-content">
            <h2 data-aos="fade-up" data-aos-delay="300">Candidature spontané</h2>
            <div class="row information-row" data-aos="fade-up" data-aos-delay="400">
              <div class="col-12">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec aliquam ante. In id pellentesque est, et
                porttitor ex. Ut pellentesque, metus a tempus blandit, ante nunc imperdiet tortor, eu eleifend ante
                ligula id tortor. Duis ac nisi sodales, vulputate augue non, suscipit risus. Quisque volutpat nunc at
                est egestas facilisis. Maecenas elementum enim sed nibh mattis hendrerit. Fusce eget aliquam justo. Duis
                at enim eget purus ultrices placerat. Quisque aliquet eros erat, a vehicula dui congue et. Morbi eget
                ante leo. <a href="mailto:#job@mgi-ingenieurs.ch">job@mgi-ingenieurs.ch</a>.
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>