#projet-content{
  $line: 7px;
  .container-image{
    position:relative;
    width: 100%;
    height:100%;
   border-bottom:5px solid $blue;
  }
 .thumbnail{
  min-height: 400px;
  height:100%;
   width:100%;
   background-size:cover;
   background-position: center center;
   background-repeat: no-repeat;
   @include media-breakpoint-down(sm) {
   height: 262px;
   }
 }
 .extend-right{
   padding-right:0;
   @include media-breakpoint-down(md) {
     padding-left: 0;
     .content{
      padding:20px 15px;

     }
   }
 }
 .sticky-wrap{
   background: $white;
   padding:30px;

   box-shadow: 0px -11px 67px #00000017;
   height: 100%;
   .row{
     margin-bottom:15px;
   }
   p{
     font-size:13px;
     margin-bottom:0;
   }
   ul{
     margin:0;
     padding:0;
     font-size:13px;
     list-style:none;
   }

   @include media-breakpoint-down(md) {
    padding:20px 15px;
   }
 }
 .content{
   background:$grey-light;
   padding:30px;
   &-block{
     margin-bottom:30px;
   }
   :last-child{
    margin-bottom:0;
   }
 }

ul{
  list-style: none!important;
  padding-left: 15px!important;

 li{
   &:before {
    content: '';
    background-color: $blue;
    width: 10px;
    height: 2px;
    border-radius: 0;
    display: inline-block;
    margin: 0 10px 0 0;
    margin-bottom:3px;
  }
  &:hover{
    &:before {
      background-color: $blue-dark!important;
    }
  }
 }
}

}

.sticky{
  position: sticky;
  top: 69px;
  padding-left: 0;
  @include media-breakpoint-down(md) {
    padding-right:0;
    position:relative;
    top:initial;
  }
}