<section id="projet-content" data-aos="fade-up" data-aos-delay="300">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 extend-right">
        <div class="thumbnail lazyload" data-bg="assets/img/3.jpg">
          <div class="container-image">
            <div class="fakeimg"></div>
          </div>
        </div>
      </div>
      <div id="sidebar" class="col-lg-4 information sticky">
        <div class="sticky-wrap">
          <div class="sticky-content">
            <h2 data-aos="fade-up" data-aos-delay="300">Informations</h2>
            <div class="row information-row" data-aos="fade-up" data-aos-delay="400">
              <div class="col-md-6 col-sm-12">
                <h4>Maître d'ouvrage</h4>
              </div>
              <div class="col-md-6 col-sm-12">
                <p>TPF – Transports publics fribourgeois</p>
              </div>
            </div>
            <div class="row information-row" data-aos="fade-up" data-aos-delay="450">
              <div class="col-md-6 col-sm-12">
                <h4>Mandataire</h4>
              </div>
              <div class="col-md-6 col-sm-12">
                <p>BG-MGI</p>
              </div>
            </div>
            <div class="row information-row" data-aos="fade-up" data-aos-delay="500">
              <div class="col-md-6 col-sm-12">
                <h4>Date</h4>
              </div>
              <div class="col-md-6 col-sm-12">
                <p>2013-2020</p>
              </div>
            </div>
            <div class="row information-row" data-aos="fade-up" data-aos-delay="550">
              <div class="col-md-6 col-sm-12">
                <h4>Localisation</h4>
              </div>
              <div class="col-md-6 col-sm-12">
                <p>Châtel-St-Denis</p>
              </div>
            </div>
            <div class="row information-row" data-aos="fade-up" data-aos-delay="600">
              <div class="col-md-6 col-sm-12">
                <h4>Phases SIA</h4>
              </div>
              <div class="col-md-6 col-sm-12">
                <p>31-32-33-41-51-52-53</p>
              </div>
            </div>
            <div class="row information-row" data-aos="fade-up" data-aos-delay="650">
              <div class="col-md-6 col-sm-12">
                <h4>Montant Travaux</h4>
              </div>
              <div class="col-md-6 col-sm-12">
                <p>Frs 21 mios</p>
              </div>
            </div>
            <div class="row information-row" data-aos="fade-up" data-aos-delay="700">
              <div class="col-md-6 col-sm-12">
                <h4>Personne de référence</h4>
              </div>
              <div class="col-md-6 col-sm-12">
                <ul>
                  <li>M. Spirgi</li>
                  <li>M. Pointet</li>
                  <li>M. Quaranta</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 extend-right">
        <div class="content" data-aos="fade-up" data-aos-delay="400">

          <h2>Description / But</h2>
          <p>La gare de Châtel-St-Denis est de conception ancienne et ne répond plus aux nouvelles exigences de la
            LHand.
            Elle se situe en impasse, en raison de son rattachement à la ligne Châtel – St-Légier jusqu’en 1969.
            Le projet consiste à construire une nouvelle courbe reliant la voie provenant de Palézieux à celle menant
            à
            Bulle, et à construire une nouvelle gare le long de ce tracé.</p>
          <p><i>Projet mené en collaboration avec le bureau BG (ponts et parking)</i></p>

          <h2>Nos prestations / points-clés</h2>

          <h3>PROJET ROUTIER (phases 31 à 33)</h3>
          <p>Déviation de la route cantonale<br />
            Déviation et réaménagement du ruisseau « Le Tatrel »</p>

          <h3>PROJET FERROVIAIRE (phases 31 à 53)</h3>
          <p>Nouveau tracé ferroviaire de 1'000m, yc infrastructure ferroviaire, réseau d’évacuation des eaux et 3
            bassins de rétention (béton, modulaire et à ciel ouvert)
            Routes d’accès à la gare et murs de soutènements, place de la gare<br />
            Sous-station électrique pour alimentation de la nouvelle gare<br />
            Relevés et modélisation de terrain effectué par vol LiDAR</p>

          <h3>OUVRAGES (phases 52 à 53)</h3>
          <p>Pont Sud : ouvrage en béton précontraint composé de 4 travées supportant deux voies ferroviaires<br />
            Pont Nord : ouvrage en béton armé composé de 6 travées supportant deux voies ferroviaires et les
            quais<br />
            Parking souterrain de 120 places sous le pont Nord
          </p>



        </div>
      </div>

    </div>
  </div>
</section>