#bureau-content{
  $line: 7px;

  .background-grey{
    background: $grey-light;
  }

  .container-image{
    position:relative;
    width: 100%;
    height:100%;
   border-bottom:5px solid $blue;
  }

  .center{
    text-align:center;
  }

  .info{
    padding: 30px 0;
    h3{
      font-weight:100;
      margin-top:0;
    }
    margin-bottom:30px;
  }
 .thumbnail{
  max-height:245px;
  height: 245px;
   width:100%;
   background-size:cover;
   background-position: center center;
   background-repeat: no-repeat;
   @include media-breakpoint-down(sm) {
   height: 262px;
   }
 }




.chiffre-clef{
  margin-bottom:30px;
  text-align:center;
  margin-top:15px;
  i{
    font-size:60px;
  }
  &-label{
    font-size: 14px;
    font-weight:600;
    color: $blue;
    margin:0;
  }
  &-number{
    font-size: 50px;
    font-weight:600;
    color: $blue;
    margin:0;
  }
}





#teams,
#association{
  background: $grey-light;
}

#managment{
  background: $white;
  text-align:center;
  a{
    color: $grey-dark;
    &:hover{
      text-decoration:none
    }
   
  }
}

.margin-top{
  margin-top:15px;
}
.margin-bottom{
  margin-bottom:15px;
}

.certification{
  max-width:700px;
  margin:auto;
  width:100%;
  &-wrap{
    display:flex;
    align-items: center;
    justify-content: center;
    .iso{
      width:150px;
      img{
        max-width:100%;
        width:100%;
        height:auto;
      }
    }
  }
}

.association-wrap{
  width:100%;
  position:relative;
  ul{
    padding-left:0;
    display:flex;
    justify-content: space-between;
    list-style: none;
    @include media-breakpoint-down(md) {
      flex-flow: row wrap;
    }
    li{
      @include media-breakpoint-down(md) {
      flex: 1 0 33.333%;
      max-width: 33.333%;
    }
    @include media-breakpoint-down(sm) {
      flex: 1 0 50%;
      max-width: 50%;
    }
      a{
        transition:all 0.4s;
        margin:15px;
        display:block;
        &:hover{
          opacity:0.45;
        }
        img{
          max-width:200px;
          width:100%;
        }
      }
    }
  }
}










 

 .information{
   margin-top:30px;
 }
 .sticky-wrap{
   background: $white;
   padding:30px;

   box-shadow: 0px -11px 67px #00000017;
   height: 100%;
   .row{
     margin-bottom:15px;
   }
   p{
     font-size:13px;
     margin-bottom:0;
   }
   ul{
     margin:0;
     padding:0;
     font-size:13px;
     list-style:none;
   }

   @include media-breakpoint-down(md) {
    padding:20px 15px;
   }
 }

 .padding{
   padding-top:60px;
   padding-bottom:60px;
 }
 .content{
  /* margin-top: 30px; */
  padding: 30px;
  /* margin-bottom: 30px; */
   &-block{
     margin-bottom:30px;
   }
   :last-child{
    margin-bottom:0;
   }
 }
}

.sticky{
  position: sticky;
  top: 69px;
  padding-left: 0;
  @include media-breakpoint-down(md) {
    padding-right:0;
    position:relative;
    top:initial;
  }
}

.services-content{
  background: $white;
  &:nth-child(even){
    background:$grey-light;
  }
  
  padding-top:30px;
  &-single{
    margin-bottom:30px;
    img{
      max-width:100%;
      width:100%;
    }
    ul{
      list-style:none;
      margin:0;
      padding:0;
      li{
        margin-bottom:10px;
      }
    }
   
  }
}