<section id="bureau-content">
  <div id="introduction" class="background-grey">
    <div class="container link">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="content" data-aos="fade-up" data-aos-delay="0">
            <div class="info center">
              <h3>MGI accorde une grande importance à l’ouverture d’esprit,
                la communication et l’écoute de l’autre. Ces valeurs sont à la base de la réussite de projets complexes
                et interdisciplinaires. La pluridisciplinarité et la mise en commun des compétences permettent au bureau
                de se positionner comme un interlocuteur unique pour le Maître d’Ouvrage,
                ceci de la conception à la réalisation du projet.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="chiffre" class="container padding">
    <div class="row">
      <div class="col-lg-12 center">
        <h2 data-aos="fade-up" data-aos-delay="200">Chiffres clefs</h2>
        <div class="row padding numbers" data-aos="fade-up" data-aos-delay="400">
          <div class="col-lg-3">
            <div class="chiffre-clef"><i class="icon-office"></i>
              <div class="chiffre-clef-number"><span class="value" data-value="4">0</span></div>
              <div class="chiffre-clef-label">Filiales </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="chiffre-clef"><i class="icon-notebook"></i>
              <div class="chiffre-clef-number"><span class="value" data-value="5">0</span></div>
              <div class="chiffre-clef-label">Domaine d'activités</div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="chiffre-clef"><i class="icon-medal"></i>
              <div class="chiffre-clef-number">+<span class="value" data-value="150">0</span></div>
              <div class="chiffre-clef-label">Projets</div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="chiffre-clef"><i class="icon-team"></i>
              <div class="chiffre-clef-number"><span class="value" data-value="32">0</span></div>
              <div class="chiffre-clef-label">Collaborateurs</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="teams">
    <div class="container link padding">
      <div class="row">
        <div class="col-lg-12 center">
          <h2 data-aos="fade-up" data-aos-delay="200">La direction</h2>
          <div class="row padding collaborateurs" data-aos="fade-up" data-aos-delay="400">
            <div class="collaborateur col-lg-3 col-sm-6">
              <div class="collaborateur-block">
                <img src="assets/img/MARCGENILLOUD.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Marc Genilloud</h3>
                  <div class="fonction">Directeur général</div>
                  <div class="formation">Ingénieur civil EPFZ-SIA – REG A</div>
                  <ul>
                    <li class="telephone">+41 21 948 30 32<br />
                      +41 79 610 20 62
                    </li>
                    <li class="mail"><a href="mailto:mgenilloud@mgi-ingenieurs.ch">mgenilloud@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6">
              <div class="collaborateur-block">
                <img src="assets/img/alexandregaillard.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Alexandre Gaillard</h3>
                  <div class="fonction">Directeur adjoint<br />site de Châtel-St-Denis et Bulle</div>
                  <div class="formation">Ingénieur civil HES</div>
                  <ul>
                    <li class="telephone">+41 21 948 30 30<br />
                      +41 79 589 74 10
                    </li>
                    <li class="mail"><a href="mailto:agaillard@mgi-ingenieurs.ch">agaillard@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->






            <div class="collaborateur col-lg-3 col-sm-6">
              <div class="collaborateur-block">
                <img src="assets/img/fabriceconus.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Fabrice Conus</h3>
                  <div class="fonction">Directeur adjoint<br />site de Romont</div>
                  <div class="formation">Ingénieur civil HES / M.Sc.A</div>
                  <ul>
                    <li class="telephone">+41 26 652 14 15<br />
                      +41 79 382 68 82
                    </li>
                    <li class="mail"><a href="mailto:fconus@mgi-ingenieurs.ch">fconus@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
            <div class="collaborateur col-lg-3 col-sm-6">
              <div class="collaborateur-block">
                <img src="assets/img/anhkhoaphung.png" alt="Marc Genilloud" />
                <div class="collaborateur-block-content">
                  <h3>Anh Khoa Phung</h3>
                  <div class="fonction">Directeur adjoint<br />site de Villars-sur-Glâne</div>
                  <div class="formation">Ingénieur civil E.S.G.C, Hanoi,Vietnam</div>
                  <ul>
                    <li class="telephone">+41 26 321 19 30<br />
                      +41 79 902 52 33
                    </li>
                    <li class="mail"><a href="mailto:phung@mgi-ingenieurs.ch">phung@mgi-ingenieurs.ch</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- / collaborateur-->
          </div>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 center margin-cta">
          <a class="cta" href="collaborateurs.html">Découvrez tous nos collaborateurs <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div id="managment" class="container padding">
    <div class="row">
      <div class="col-lg-12 center">
        <h2 data-aos="fade-up" data-aos-delay="0">Système de mangament intégré</h2>
      </div>
      <div class="col-lg-8 offset-lg-2 margin-top">
        <div data-aos="fade-up" data-aos-delay="0">
          <p>Dès sa création, le bureau a continuellement œuvré à l’amélioration. L’ensemble des démarches entreprises
            par le bureau apporte un gain au niveau de la performance, tout en exerçant un impact positif sur
            l’économie, l’environnement et la société. Par ailleurs, elles s’insèrent dans la volonté affichée par MGI
            d’avoir une attitude proactive et d’anticiper les législations futures, voire de les influencer. </p>
          <p><strong>Actuellement, MGI Partenaires Ingénieurs Conseils SA est certifié par la SGS :</strong></p>
        </div>
        <div class="certification" data-aos="fade-up" data-aos-delay="200">
          <div class="certification-wrap">
            <div class="iso">
              <a href="https://www.sgs.com/en/campaigns/iso-9001-2015#:~:text=Based%20on%20seven%20quality%20management,Engagement%20of%20people"
                target="_blank">
                <img src="assets/img/iso-9001.png" alt="ISO 9001" />
                Qualité
              </a>
            </div>
            <div class="iso">
              <a href="https://www.sgs.com/en/campaigns/iso-14001-2015-environmental-management-system#:~:text=ISO%2014001%3A2015%20is%20an,to%20establish%20an%20effective%20EMS."
                target="_blank">
                <img src="assets/img/iso-14001.png" alt="ISO 14001" />
                Environnement
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="association">
    <div class="container padding">
      <div class="row">
        <div class="col-lg-12 center">
          <h2 data-aos="fade-up" data-aos-delay="0">Associations</h2>
          <div class="association-wrap" data-aos="fade-up" data-aos-delay="200">
            <ul>
              <li><a href="http://www.vss.ch/fr/" target="blank"><img src="assets/img/1.png" alt="title" class="lazyload" /></a></li>
              <li><a href="https://www.sia.ch/fr/" target="blank"><img src="assets/img/2.png" alt="title" class="lazyload" /></a></li>
              <li><a href="https://www.lignum-fr.ch/organisation/qui-sommes-nous/" target="blank"><img src="assets/img/3.png" alt="title" class="lazyload" /></a></li>
              <li><a href="https://www.arpea.ch/" target="blank"><img src="assets/img/4.png" alt="title" class="lazyload" /></a></li>
              <li><a href="http://www.ivbh.ch/3/home-aipc/home-ivbh.html" target="blank"><img src="assets/img/5.png" alt="title" class="lazyload" /></a></li>
              <li><a href="http://www.afmc.ch/" target="blank"><img src="assets/img/6.png" alt="title" class="lazyload" /></a></li>
              <li><a href="https://www.crb.ch/fr/" target="blank"><img src="assets/img/7.png" alt="title" class="lazyload" /></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="politique" class="container padding">
    <div class="row">
      <div class="col-lg-12 center margin-bottom">
        <h2 data-aos="fade-up" data-aos-delay="0">Politique du bureau</h2>
      </div>
      <div class="col-md-6">
        <div data-aos="fade-up" data-aos-delay="200">
          <p>MGI est convaincu que les efforts de chacun font la richesse de tous, c’est pourquoi il s’engage à adopter
            un comportement responsable, en veillant à ce que ses activités répondent aux critères de durabilité
            écologique, d’équité sociale et de viabilité économique.<br /><br />
            L’objectif de MGI, partagé par ses dirigeants et par ses collaborateurs à tous les niveaux, est de fournir
            en tout temps des conseils dans ses domaines d’activité de manière à créer des valeurs durables pour les
            clients et les partenaires d’affaires.<br /><br />
            MGI s’engage à respecter et à appliquer au mieux toutes les législations en vigueur. Dans certains domaines,
            des lignes de conduite complémentaires sont édictées pour garantir l’application de normes plus
            élevées.<br /><br />
            MGI s’implique quotidiennement à améliorer ses performances, ses prestations et sa compétitivité. Il
            s’emploie à maîtriser et contrôler ses processus et à diminuer ses coûts dans le but de délivrer au client
            un produit qui réponde au mieux à ses attentes en optimisant les ressources nécessaires.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div data-aos="fade-up" data-aos-delay="200">
          <p>MGI évalue et analyse de manière systématique les risques associés à ses activités ainsi qu’à celles de ses
            sous-traitants. Il prend les mesures nécessaires pour minimiser les impacts potentiels, notamment dans le
            but de prévenir toute pollution environnementale et toute atteinte à la santé et à la sécurité des
            personnes.
            <br /><br />
            MGI fixe chaque année des objectifs et des cibles et établit un programme d’amélioration continue portant
            principalement sur les secteurs sensibles. Les critères d’amélioration sont ensuite mesurés puis analysés.
            Les résultats sont communiqués en interne et, selon les demandes, en externe.
            <br /><br />
            MGI privilégie, parmi ses fournisseurs, les sociétés livrant des produits conformes aux valeurs du bureau.
            En outre, il incite activement ses partenaires contractuels à fournir des prestations respectueuses de la
            société et ménageant l’environnement.
            <br /><br />
            MGI veille à ce que tous les collaborateurs soient suffisamment formés et informés pour effectuer les
            prestations qui leur sont demandées en accord avec la politique du bureau. Le bureau les encourage à
            développer leurs compétences et les aide à s’épanouir dans leur métier.</p>
        </div>
      </div>
    </div>
  </div>
</section>