#services-content{
  $line: 7px;

  .container-image{
    position:relative;
    width: 100%;
    height:100%;
   border-bottom:5px solid $blue;
  }

  .center{
    text-align:center;
  }

  .info{
    padding: 30px 0;
    h3{
      font-weight:100;
      margin-top:0;
    }
    margin-bottom:30px;
  }
 .thumbnail{
  max-height:245px;
  height: 245px;
   width:100%;
   background-size:cover;
   background-position: center center;
   background-repeat: no-repeat;
   @include media-breakpoint-down(sm) {
   height: 262px;
   }
 }
 .extend-right{
   padding-right:0;
   @include media-breakpoint-down(md) {
     padding-left: 0;
     .content{
      padding:20px 15px;

     }
   }
 }

 .information{
   margin-top:30px;
 }
 .sticky-wrap{
   background: $white;
   padding:30px;

   box-shadow: 0px -11px 67px #00000017;
   height: 100%;
   .row{
     margin-bottom:15px;
   }
   p{
     font-size:13px;
     margin-bottom:0;
   }
   ul{
     margin:0;
     padding:0;
     font-size:13px;
     list-style:none;
   }

   @include media-breakpoint-down(md) {
    padding:20px 15px;
   }
 }
 .content{
  /* margin-top: 30px; */
  padding: 30px;
  height: calc( 100% - 245px);
  /* margin-bottom: 30px; */
  background: white;
   &-block{
     margin-bottom:30px;
   }
   :last-child{
    margin-bottom:0;
   }
 }
}

.sticky{
  position: sticky;
  top: 69px;
  padding-left: 0;
  @include media-breakpoint-down(md) {
    padding-right:0;
    position:relative;
    top:initial;
  }
}

.services-content{
  background: $white;
  &:nth-child(even){
    background:$grey-light;
  }
  
  padding-top:30px;
  &-single{
    margin-bottom:30px;
    img{
      max-width:100%;
      width:100%;
    }
    ul{
      list-style:none;
      margin:0;
      padding:0;
      li{
        margin-bottom:10px;
      }
    }
   
  }
}