<section id="services-content" data-aos="fade-up" data-aos-delay="300">
  <div class="container link">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="content" data-aos="fade-up" data-aos-delay="400">
          <div class="info center">
            <h3>MGI est actif dans 5 principaux domaines.
              Pour chaque projet, le bureau identifie les disciplines impliquées. Sur cette base, il met en place une
              équipe spécifique composée de spécialistes apportant leurs idées et leurs expertises dans un esprit de
              partage de compétences.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="services-content">
    <div class="container link">
      <div class="row">
        <div class="col-md-6 col-lg-4 services-content-single">
          <div class="thumbnail lazyload" data-bg="assets/img/service-1.jpg">
            <div class="container-image">
              <div class="fakeimg"></div>
            </div>
          </div>
          <div class="content">
            <h2>Génie Civil</h2>
            <ul>
              <li>UPlaNS</li>
              <li>Projets routiers</li>
              <li>Projets édilitaires</li>
              <li>Traversées de localité</li>
              <li>Plans d’équipement de détail (PED)</li>
              <li>Études de trafic, comptages routiers</li>
              <li>Expertises de la sécurité routière (selon Via Sicura)</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 services-content-single">
          <div class="thumbnail lazyload" data-bg="assets/img/structure.jpg">
            <div class="container-image">
              <div class="fakeimg"></div>
            </div>
          </div>
          <div class="content">
            <h2>STRUCTURE</h2>
            <ul>
              <li>Ouvrages d’art (y c. inspection et maintenance)</li>
              <li>Halles de sport, halles industrielles</li>
              <li>Bâtiments administratifs, locatifs</li>
              <li>Maisons d’habitation</li>
              <li>Études parasismiques</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 services-content-single">
          <div class="thumbnail lazyload" data-bg="assets/img/environnement.jpg">
            <div class="container-image">
              <div class="fakeimg"></div>
            </div>
          </div>
          <div class="content">
            <h2>Environnement</h2>
            <ul>
              <li>Eaux claires, eaux usées, eaux industrielles, eaux claires parasites</li>
              <li>Eau potable</li>
              <li>Cours d’eau</li>
              <li>Bassins de rétention</li>
              <li>Systèmes d’épuration et de traitement des eaux claires (SETEC)</li>
              <li>Cartes de danger</li>
              <li>Études de bruit</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 services-content-single">
          <div class="thumbnail lazyload" data-bg="assets/img/ferroviaire.jpg">
            <div class="container-image">
              <div class="fakeimg"></div>
            </div>
          </div>
          <div class="content">
            <h2>Génie ferroviaires</h2>
            <ul>
              <li>Assainissements d’infrastructures de voies ferroviaires</li>
              <li>Automatisations et modernisations de lignes (ATR)</li>
              <li>Mises en conformité de quais</li>
              <li>Bâtiments de service</li>
              <li>Passages inférieurs</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 services-content-single">
          <div class="thumbnail lazyload" data-bg="assets/img/ouvrage.jpg">
            <div class="container-image">
              <div class="fakeimg"></div>
            </div>
          </div>
          <div class="content">
            <h2>Assistance au Maître d'ouvrage</h2>
            <ul>
              <li>Aide à l’administration de communes</li>
              <li>Soutien à la direction générale des travaux</li>
              <li>Bureau d’assistance au maître d’ouvrage (BAMO)</li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- service -->
  </div>
</section>