<section id="projet-title" class="small lazyload" data-bg="assets/img/team.jpg"> 
<div class="container-image"><div class="fakeimg"></div></div>
<div class="background"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="breadcrum">
          <li><a href="index.html">Accueil</a></li>
          <li><a href="bureau.html">Bureau</a></li>
          <li>Collaborateurs</li>
        </ul>
        <div class="title" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
          <h1>Collaborateurs</h1>
        </div>
      </div>
    </div>
  </div>
</section>