.head{
  &-bureau{
    text-align:center;
    background: $blue;
    position:relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding:120px 0;
    color:$white;

    @include media-breakpoint-down(md) {
      padding:50px 0;
    }
    h1{
      font-weight:100;
      font-size:27px;
      @include media-breakpoint-down(md) {
      font-size: 17px;
      }
    }
    .background{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: $blue;
        opacity: 0.8;
        min-height: initial;
        &:after{
          display:none;
        }
    }
    .cta{
      margin-top:30px;
    }
  }
  &-services{
    .services-content{
      background: $grey;
      padding-bottom:60px;
      padding-top:60px;
      .content{
        padding: 15px;
      }

     
    }
    .thumbnail {
      position:relative;
    }
    .infobox{
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      background: $blue;
      color: #fff;
      transform: translatey(120%);
      transition: all 0.4s;
      transform: translatey(-0%);
      min-height: 100%;
      padding: 30px;
      transform: translateY(-50px);
      transition:all 0.4s;
      opacity:0;
      visibility: hidden;
      @include media-breakpoint-down(sm) {
        display:none;
      }
    }

    .info{
      background:transparent;
      padding-top:0!important;
    }

    .mobileinfobox{
      display:block;
      @include media-breakpoint-up(md) {
        display:none;
      }

    }
    .services-content-single{
      &:hover{
        .infobox{
          transform: translateY(0);
          opacity:1;
          visibility: visible;
        }
      }
    }
  }
  &-projets{
    .filters-result{
      margin-top:0!important;
    }
    padding:60px 0!important;
  }
  &-news{
    padding:60px 0!important;
  }
}

.center{
  text-align:center;
}

.titlehome{
  text-align:center;
  color:$blue;
  margin-bottom:40px;
  text-transform:uppercase;
  h2{
    @extend h1;
    margin-bottom:0;
  }
}