<section class="head-bureau lazyload" data-bg="assets/img/head-min.png">
  <div class="container-image">
    <div class="fakeimg"></div>
  </div>
  <div class="background"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        <h1>MGI Ingénieurs SA est un bureau d’ingénieurs conseils en génie-civil
          et environnement. Depuis 1969, le bureau fonde son succès sur le
          savoir et l’expérience de ses collaborateurs, la gestion rigoureuse des
          projets, la diversité des métiers et la proximité au client. </h1>
        <a href="bureau.html" class="cta white">Découvrir le bureau <i class="fa fa-chevron-right"
            aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</section>
<section id="services-content" class="head-services" data-aos="fade-up" data-aos-delay="300">
  <div class="services-content">
    <div class="container link">
      <div class="row">
        <div class="col-lg-12 titlehome">
          <h2 data-aos="fade-up" data-aos-delay="200">Nos services</h2>
        </div>
        <div class="col-lg-8 offset-lg-2">
        <div class="" data-aos="fade-up" data-aos-delay="400">
          <div class="info center">
            <h3>MGI est actif dans 5 principaux domaines.
              Pour chaque projet, le bureau identifie les disciplines impliquées. Sur cette base, il met en place une
              équipe spécifique composée de spécialistes apportant leurs idées et leurs expertises dans un esprit de
              partage de compétences.</h3>
          </div>
        </div>
      </div>
        <div class="col-md-6 col-lg-4 services-content-single">
          <div class="thumbnail lazyload" data-bg="assets/img/service-1.jpg">
            <div class="container-image">
              <div class="fakeimg"></div>
            </div>
            <div class="infobox">
              <ul>
                <li>UPlaNS</li>
                <li>Projets routiers</li>
                <li>Projets édilitaires</li>
                <li>Traversées de localité</li>
                <li>Plans d’équipement de détail (PED)</li>
                <li>Études de trafic, comptages routiers</li>
                <li>Expertises de la sécurité routière (selon Via Sicura)</li>
              </ul>
            </div>
          </div>
          <div class="content">
            <h3>Génie civil</h3>
            <ul class="mobileinfobox">
              <li>UPlaNS</li>
              <li>Projets routiers</li>
              <li>Projets édilitaires</li>
              <li>Traversées de localité</li>
              <li>Plans d’équipement de détail (PED)</li>
              <li>Études de trafic, comptages routiers</li>
              <li>Expertises de la sécurité routière (selon Via Sicura)</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 services-content-single">
          <div class="thumbnail lazyload" data-bg="assets/img/structure.jpg">
            <div class="container-image">
              <div class="fakeimg"></div>
            </div>
            <div class="infobox">
              <ul>
                <li>Ouvrages d’art (y c. inspection et maintenance)</li>
                <li>Halles de sport, halles industrielles</li>
                <li>Bâtiments administratifs, locatifs</li>
                <li>Maisons d’habitation</li>
                <li>Études parasismiques</li>
              </ul>
            </div>
          </div>
          <div class="content">
            <h3>Structure</h3>
            <ul class="mobileinfobox">
              <li>Ouvrages d’art (y c. inspection et maintenance)</li>
              <li>Halles de sport, halles industrielles</li>
              <li>Bâtiments administratifs, locatifs</li>
              <li>Maisons d’habitation</li>
              <li>Études parasismiques</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 services-content-single">
          <div class="thumbnail lazyload" data-bg="assets/img/environnement.jpg">
            <div class="container-image">
              <div class="fakeimg"></div>
            </div>
            <div class="infobox">
              <ul>
                <li>Eaux claires, eaux usées, eaux industrielles, eaux claires parasites</li>
                <li>Eau potable</li>
                <li>Cours d’eau</li>
                <li>Bassins de rétention</li>
                <li>Systèmes d’épuration et de traitement des eaux claires (SETEC)</li>
                <li>Cartes de danger</li>
                <li>Études de bruit</li>
              </ul>
            </div>
          </div>
          <div class="content">
            <h3>Environnement</h3>
            <ul class="mobileinfobox">
              <li>Eaux claires, eaux usées, eaux industrielles, eaux claires parasites</li>
              <li>Eau potable</li>
              <li>Cours d’eau</li>
              <li>Bassins de rétention</li>
              <li>Systèmes d’épuration et de traitement des eaux claires (SETEC)</li>
              <li>Cartes de danger</li>
              <li>Études de bruit</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 services-content-single">
          <div class="thumbnail lazyload" data-bg="assets/img/ferroviaire.jpg">
            <div class="container-image">
              <div class="fakeimg"></div>
            </div>
            <div class="infobox">
              <ul>
                <li>Assainissements d’infrastructures de voies ferroviaires</li>
                <li>Automatisations et modernisations de lignes (ATR)</li>
                <li>Mises en conformité de quais</li>
                <li>Bâtiments de service</li>
                <li>Passages inférieurs</li>
              </ul>
            </div>
          </div>
          <div class="content">
            <h3>Génie ferroviaire</h3>
            <ul class="mobileinfobox">
              <li>Assainissements d’infrastructures de voies ferroviaires</li>
              <li>Automatisations et modernisations de lignes (ATR)</li>
              <li>Mises en conformité de quais</li>
              <li>Bâtiments de service</li>
              <li>Passages inférieurs</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 services-content-single">
          <div class="thumbnail lazyload" data-bg="assets/img/ouvrage.jpg">
            <div class="container-image">
              <div class="fakeimg"></div>
            </div>
            <div class="infobox">
              <ul>
                <li>Aide à l’administration de communes</li>
                <li>Soutien à la direction générale des travaux</li>
                <li>Bureau d’assistance au maître d’ouvrage (BAMO)</li>
              </ul>
            </div>
          </div>
          <div class="content">
            <h3>Assistance au Maître d'ouvrage</h3>
            <ul class="mobileinfobox">
              <li>Aide à l’administration de communes</li>
              <li>Soutien à la direction générale des travaux</li>
              <li>Bureau d’assistance au maître d’ouvrage (BAMO)</li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- service -->
  </div>
</section>
<section id="projet-liste" class="head-projets">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 titlehome" data-aos="fade-up">
        <h2 data-aos="fade-up" data-aos-delay="200">Nos Derniers projets</h2>
      </div>
    </div>
    <div class="row filters-result" data-aos="fade-up">
      <div class="col-md-6 col-lg-4 block-photo geniecivil">
        <a href="projet-single.html">
          <div>
            <div class="thumbnail-container">
              <div class="thumbnail lazyload" data-bg="assets/img/3.jpg">
                <div class="container-image">
                  <div class="fakeimg"></div>
                </div>
              </div>
            </div>
            <div class="content">
              <div class="content-info">
                <div class="date">
                  <i class="fa fa-calendar" aria-hidden="true"></i>2013-2020
                </div>
                <div class="lieu">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>Châtel-St-Denis
                </div>
              </div>
              <h2>Gare de Châtel-St-Denis</h2>
            </div>
          </div>
        </a>
      </div><!-- block-photo -->
      <div class="col-md-6 col-lg-4 block-photo structure">
        <a href="projet-single.html">
          <div>
            <div class="thumbnail-container">
              <div class="thumbnail lazyload" data-bg="assets/img/1.jpg">
                <div class="container-image">
                  <div class="fakeimg"></div>
                </div>
              </div>
            </div>
            <div class="content">
              <div class="content-info">
                <div class="date">
                  <i class="fa fa-calendar" aria-hidden="true"></i>2013-2020
                </div>
                <div class="lieu">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>Châtel-St-Denis
                </div>
              </div>
              <h2>Gare de Châtel-St-Denis</h2>
            </div>
          </div>
        </a>
      </div><!-- block-photo -->
      <div class="col-md-6 col-lg-4 block-photo environnement">
        <a href="projet-single.html">
          <div>
            <div class="thumbnail-container">
              <div class="thumbnail lazyload" data-bg="assets/img/2.jpg">
                <div class="container-image">
                  <div class="fakeimg"></div>
                </div>
              </div>
            </div>
            <div class="content">
              <div class="content-info">
                <div class="date">
                  <i class="fa fa-calendar" aria-hidden="true"></i>2013-2020
                </div>
                <div class="lieu">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>Châtel-St-Denis
                </div>
              </div>
              <h2>Gare de Châtel-St-Denis</h2>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-12 center"> <a href="projets-liste.html" class="cta">Tous nos projets <i class="fa fa-chevron-right"
            aria-hidden="true"></i></a></div>
    </div>
  </div>
</section>
<section id="news" class="head-news">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 titlehome" data-aos="fade-up">
        <h2 data-aos="fade-up" data-aos-delay="200">Nos Dernières actualités</h2>
      </div>

      <div class="col-lg-4 news" data-aos="fade-up">
        <div class="thumbnail-container">
          <img class="thumbnail lazyload" src="https://via.placeholder.com/1300x500">
          <div class="container-image">
            <div class="fakeimg"></div>
          </div>
        </div>
        <div class="content">
          <div class="content-info">
            <div class="date">
              <i class="fa fa-calendar" aria-hidden="true"></i>16.07.2020
            </div>
          </div>
          <h2>Une news avec une image à la une</h2>
          <p>Ut non tincidunt tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus
            mus.</p>
        </div>
      </div><!-- / news -->
      <div class="col-lg-4 news" data-aos="fade-up">
        <div class="content">
          <div class="content-info">
            <div class="date">
              <i class="fa fa-calendar" aria-hidden="true"></i>16.07.2020
            </div>
          </div>
          <h2>Une news courte</h2>
          <p>Ut non tincidunt tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus
            mus.<br /> Suspendisse ut mattis nisl. Curabitur sodales nisl sem, nec maximus ex condimentum sit amet.
            Nam
            egestas fringilla ante nec lobortis. Sed rhoncus, justo laoreet lobortis viverra, neque leo sodales massa,
            quis facilisis est lectus nec diam. Nullam euismod a nunc eu elementum. Nulla vitae rutrum nisi.Ut non
            tincidunt tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus
            mus.</p>
        </div>
      </div><!-- / news -->
      <div class="col-lg-4 news" data-aos="fade-up">
        <div class="thumbnail-container">
          <img class="thumbnail lazyload" src="https://via.placeholder.com/1300x500">
          <div class="container-image">
            <div class="fakeimg"></div>
          </div>
        </div>
        <div class="content">
          <div class="content-info">
            <div class="date">
              <i class="fa fa-calendar" aria-hidden="true"></i>16.07.2020
            </div>
          </div>
          <h2>Une news</h2>
          <p>Ut non tincidunt tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus
            mus.<br /> Suspendisse ut mattis nisl. Curabitur sodales nisl sem, nec maximus ex condimentum sit amet.
            Nam.</p>
        </div>
      </div><!-- / news -->

      <div class="col-lg-12 center"> <a href="actualites.html" class="cta">Tous nos actualités <i
            class="fa fa-chevron-right" aria-hidden="true"></i></a></div>
    </div>
</section>