#contact{
  $line: 7px;
  padding:30px 0;
  padding-bottom:0;
  .container-image{
    position:relative;
    width: 100%;
    height:100%;
   border-bottom:5px solid $blue;
  }

  h2{
    font-size:22px;
  }
  .contact{
    margin-bottom:30px;
  }

  ul {
    padding: 0;
    list-style: none;

    font-size:15px;

    li {
      position: relative;
        padding-left: 18px;
        margin-bottom:15px;
        font-size:15px;
      &:before {
        position: absolute;
        left: 0;
        top: 3px;
        display: inline-block;
        font: normal normal normal 15px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
      }

      &.adresse {
        &:before {
          content: "\f041";

        }
      }

      &.telephone {
        &:before {
          content: "\f095";
        }
      }
    }

  }
 .thumbnail{
  min-height: 230px;
  height:100%;
   width:100%;
   background-size:cover;
   background-position: center center;
   background-repeat: no-repeat;
   @include media-breakpoint-down(sm) {
   height: 262px;
   }
 }
 .extend-right{
   padding-right:0;
   @include media-breakpoint-down(md) {
     padding-left: 0;
     .content{
      padding:20px 15px;

     }
   }
 }
 .sticky-wrap{
   background: $white;
   padding:30px;

   box-shadow: 0px -11px 67px #00000017;
   height: 100%;
   .row{
     margin-bottom:15px;
   }
   p{
     font-size:13px;
     margin-bottom:0;
   }
   ul{
     margin:0;
     padding:0;
     font-size:13px;
     list-style:none;
   }

   @include media-breakpoint-down(md) {
    padding:20px 15px;
   }
 }
 .content{
   background:$grey-light;
   padding:30px;
   &-block{
     margin-bottom:30px;
   }
   :last-child{
    margin-bottom:0;
   }
 }
}

.information{
 
  //padding-left: 0;
  @include media-breakpoint-down(md) {
   // padding-right:0;
    position:relative;

  }
}

#map{
  width:100%;
  height:500px;
  overflow: hidden;
  pointer-events: none;
}

.contact-collaborateur{
  background:$blue;
  padding:30px 0;
}