<section id="contact">
  <div class="container link">
    <div class="row">
      <div class="col-md-6 col-lg-3 contact" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12">
            <div class="thumbnail lazyload" data-bg="assets/img/3.jpg">
              <div class="container-image">
                <div class="fakeimg"></div>
              </div>
            </div>
          </div>
          <div id="sidebar" class="col-lg-12 information">
            <div class="sticky-wrap">
              <div class="sticky-content">
                <ul data-aos="fade-up" data-aos-delay="300">
                  <li class="adresse">Rte de Vevey 128<br />
                    1618 Châtel-St-Denis</li>
                  <li class="telephone">+41 21 948 30 30</li>
                  <li><a
                      href="https://www.google.ch/maps/dir//Rte+de+Vevey+128+1618+Ch%C3%A2tel-St-Denis/@46.4794404,6.7802319,15z/data=!4m2!4m1!3e0"
                      target="_blank">GPS avec Google map</a>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ contact-->
      <div class="col-md-6 col-lg-3 contact" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12">
            <div class="thumbnail lazyload" data-bg="assets/img/3.jpg">
              <div class="container-image">
                <div class="fakeimg"></div>
              </div>
            </div>
          </div>
          <div id="sidebar" class="col-lg-12 information">
            <div class="sticky-wrap">
              <div class="sticky-content">
                <ul data-aos="fade-up" data-aos-delay="300">
                  <li class="adresse">Rue de Gruyères 53<br />
                    1630 Bulle</li>
                  <li class="telephone">+41 26 912 00 00</li>
                  <li><a
                      href="https://www.google.ch/maps/dir//Rue+de+Gruy%C3%A8res+53,+1630+Bulle/@46.6154326,7.0561443,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x478e627cf104ce79:0xa7d42597ce6c4c61!2m2!1d7.058333!2d46.6154289!3e0"
                      target="_blank">GPS avec Google map</a>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ contact-->
      <div class="col-md-6 col-lg-3 contact" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12">
            <div class="thumbnail lazyload" data-bg="assets/img/3.jpg">
              <div class="container-image">
                <div class="fakeimg"></div>
              </div>
            </div>
          </div>
          <div id="sidebar" class="col-lg-12 information">
            <div class="sticky-wrap">
              <div class="sticky-content">
                <ul data-aos="fade-up" data-aos-delay="300">
                  <li class="adresse">Rte du Petit-Moncor 14<br />
                    1752 Villars-sur-Glâne</li>
                  <li class="telephone">+41 26 321 19 30</li>
                  <li><a
                      href="https://www.google.ch/maps/dir//Route+du+Petit-Moncor+14,+1752+Villars-sur-Gl%C3%A2ne/@46.6950191,6.8810187,13z/data=!4m9!4m8!1m0!1m5!1m1!1s0x478e6ede2de62117:0x9b70948ddc363799!2m2!1d7.1245776!2d46.8005291!3e0"
                      target="_blank">GPS avec Google map</a>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ contact-->
      <div class="col-md-6 col-lg-3 contact" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12">
            <div class="thumbnail lazyload" data-bg="assets/img/3.jpg">
              <div class="container-image">
                <div class="fakeimg"></div>
              </div>
            </div>
          </div>
          <div id="sidebar" class="col-lg-12 information">
            <div class="sticky-wrap">
              <div class="sticky-content">
                <ul data-aos="fade-up" data-aos-delay="300">
                  <li class="adresse">Av. Gérard Clerc 6<br />
                    1680 Romont</li>
                  <li class="telephone">+41 26 652 17 68</li>
                  <li><a
                      href="https://www.google.ch/maps/dir//Avenue+G%C3%A9rard+Clerc+6,+1680+Romont/@46.6950191,6.8810187,13z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x478e794b23523c25:0x38e92c8cdd3414b5!2m2!1d6.9160379!2d46.6949656!3e0"
                      target="_blank">GPS avec Google map</a>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ contact-->
    </div>
  </div>
  <div class="contact-collaborateur">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 center">
         <a href="collaborateurs.html" class="cta whitedark">Contacter un de nos collaborateurs <i class="fa fa-chevron-right"
            aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div id="map"></div>
</section>