#projet-title{
  background: $blue;
  position:relative;
  &.small{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 15px;
    .title{
      text-transform: uppercase;
    }
    .background{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: $blue;
        opacity: 0.8;
        min-height: initial;
        &:after{
          display:none;
        }
    }
  }

  
  .background{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 360px;
    &:after{
      content:'';
      display:block;
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background: $blue;
      opacity: 0.8;
    }
  }
}