<section id="projet-title">
 <div class="background" style="background-image: url('assets/img/1.jpg')"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="breadcrum">
          <li><a href="index.html">Accueil</a></li>
          <li><a href="projets-liste.html">Projets</a></li>
          <li>Gare de Châtel-St-Denis</li>
        </ul>
        <div class="title" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
          <h1>Gare de Châtel-St-Denis</h1>
        </div>
      </div>
    </div>
  </div>
</section>