header {
  padding: 25px 0;
  background: $white;
  transition:all 0.4s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom:1px solid $grey-light;
  &.active{
    padding: 14px 0;
    .logo {
      img {
        max-width:70px;
      }
  }

  .menu-container{
    top: 72px;

  }
  ul.menu {
   
    li {
    
      &.active{
        a{
          color:$blue;
          &:after{
            bottom: -26px;
            
          }
        }
      }
    }
  }
}

  .logo {
    display: block;

    img {
      max-width: 120px;
      width: 100%;
      transition:all 0.4s;
    }
  }

  .menu-flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex;
    max-width:100%;
    @include media-breakpoint-down(md) {
      justify-content: space-between;
      flex-direction: column;
      text-align: center;
    }
    li {
      position:relative;
      padding:0 20px;
      &:last-child{
        padding-right: 0;
      }
      @include media-breakpoint-down(md) {
        padding:0 10px!important;
        margin-bottom:15px;
        &:last-child{
          padding-right:10px!important;
        }
      }
      a {
        position:relative;
        display: block;
        text-transform:uppercase;
        color: $grey-dark;
        font-size:14px;
        transition:all 0.4s;
        font-weight:600;
        &:hover {
          color:$blue;
        }
      }
      &.active{
        @include media-breakpoint-down(md) {
          margin-bottom: 24px;
        }
        a{
          color:$blue;
          &:after{
            content:'';
            position:absolute;
            bottom: -50px;
            display:block;
            left:0;
            width:100%;
            height:4px;
            background: $blue;
            transition:all 0.4s;
            @include media-breakpoint-down(md) {
              display:none;
              }
          }
        }
      }
    }
  }

  .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    display:none;
    @include media-breakpoint-down(md) {
      display:block;
    }
    &-container{
      @include media-breakpoint-down(md) {
       /* &:before{
          content:'';
          display:block;
          position:fixed;
          top:0;
          left:0;
          background : $white;
          width:100%;
          height:100%;
        }*/
        box-shadow: 0px 35px 35px #00000038;
      
        position: fixed;
        top: 117px;
        left: 0;
        width: 100%;
        background: $white;
        padding: 25px 0;
        transform: translateY(50px);
        z-index: 0;
        opacity: 0;
        z-index:-1000;
        visibility: hidden;
        transition:all 0.4s;
        &.active{
          transform: translateY(0);
          opacity: 1;
          z-index:1000;
          visibility: visible;
        }

        
    
    }
    .container{
      padding-right:0;
      @include media-breakpoint-down(md) {
        padding-right: 15px;
      }

    }
    }
    &:focus{
      outline:none;
    }
    svg{
      path{
        stroke: $blue;
      }
    }
  }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
}