footer {
  background: $blue;
  color: $white;

  .footer-top {
    padding-top: 60px;
    padding-bottom:60px;
  }

  .logo {
    img {
      max-width: 120px;
      width: 100%;
      transition: all 0.4s;
    }
  }

  .line{
      height:1px;
      width:100%;
      background: $blue-light;
      margin-top:15px;
      margin-bottom: 8px;
  }

  .col-sm-6.col-md-4.col-lg-3{
      &:last-child{
          ul{
            border-bottom: 0!important;
          }
      }
  }
  ul {
    padding: 0;
    list-style: none;
    font-size:14px;
    @include media-breakpoint-down(md) {
        border-bottom:1px solid $blue-light;
        margin-bottom: 0;
    }

    li {
      position: relative;
        padding-left: 18px;
        margin-bottom:15px;
      &:before {
        position: absolute;
        left: 0;
        top: 3px;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
      }

      &.adresse {
        &:before {
          content: "\f041";

        }
      }

      &.telephone {
        &:before {
          content: "\f095";
        }
      }
    }
    &.menu{
        color: $white;
    }
  }

  .footer-bottom{
      //border-top:1px solid $blue-light;
      background: $blue-dark;
      color:$white;
      padding:15px 0;
      font-size:13px;
      color:$white;
      text-align:center;
  }
}