<footer>
  <div class="container footer-top">
    <div class="row">
      <div class="col-lg-12">
        <a class="logo" href="#"><img src="assets/img/logo-white.svg" alt="MGI Ingénieur" /></a>
        <div class="row">
          <div class="col-12">
            <div class="line"></div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <ul>
              <li class="adresse">Rte de Vevey 128<br />
                1618 Châtel-St-Denis</li>
              <li class="telephone">+41 21 948 30 30</li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <ul>
              <li class="adresse">Rue de Gruyères 53<br />
                1630 Bulle
              </li>
              <li class="telephone">+41 26 912 00 00</li>
            </ul>
          </div>
         <div class="col-sm-6 col-md-4 col-lg-3">
            <ul>
              <li class="adresse">Rte du Petit-Moncor 14<br />
                1752 Villars-sur-Glâne
              </li>
              <li class="telephone">+41 26 321 19 30</li>
            </ul>
          </div>
         <div class="col-sm-6 col-md-4 col-lg-3">
            <ul>
              <li class="adresse">Av. Gérard Clerc 6<br />
                1680 Romont</li>
              <li class="telephone">+41 26 652 17 68</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-12">
          MGI copyright © 2015 - 2020. Tous droits réservés
        </div>
      </div>
    </div>
  </div>
</footer>