#projet-liste{

  background: $white;
  padding:30px 0;
  padding-bottom:30px;
  @include media-breakpoint-down(md) {
    padding-top:30px;
  }
  a{
    display:block;
    &:hover{
      .thumbnail{
        opacity:1;
      }
    }
  }
  $line: 7px;
  .thumbnail{
    transition:all 0.6s;
    position:relative;
    height: 245px;
    width:100%;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: grayscale(30%);
    &:after{
      content:'';
      display: block;
      height: $line;
      width:100%;
      background: $blue;
      position: absolute;
      bottom: -$line;
      left: 0;
      z-index: 10;
    }
  }

  .thumbnail-container{
    position:relative;
    height: 245px;
    width:100%;
    overflow:hidden;
  }
  .block-photo{
    margin-bottom:30px;
    a{
      overflow:hidden;
      position:relative;
      transition: all 0.4s;
      height: 100%;
      > div{
        height: 100%;
      }
      .content{
        height: 100%;
      }
      &:hover{
       // box-shadow: 0 0 14px rgba($grey-dark,.3);
       
        .thumbnail{
          transform: scale(1.1);
          opacity:1;
          filter: grayscale(0);

        }
        .content{
          background: $blue;
          position:relative;
          height: 100%;
          
      

     
          h2{
            color:$white;
          }
          &-info{
            color:$white;
            i{
              color:$white;
            }
          }
        }
      }
      .content{
        background: $grey-light;
        color:$black;
        padding: 30px 16px;
        transition:all 0.4s;
        padding-bottom:20px;
        border-top:5px solid $blue;
        

        h2{
          margin-bottom: 0;
          margin-top: 15px;
          color: $grey-text;
          font-size:19px;
        }

        &-info{
          display:flex;
          justify-content: space-between;
          color: $blue;
          .date,
          .lieu{
            i{
              margin-right:8px;
            }
          }
          
        }
      
      }
    }
  }

.filters-result{
  margin-top:30px;
  @include media-breakpoint-down(sm) {
 
  }
}

.filter{
  display:flex;
  @include media-breakpoint-down(md) {
   // justify-content:space-between;
  }
  @include media-breakpoint-down(sm) {
flex-wrap: wrap;
  }
  &-btn{
    margin-right:15px;
    border:1px solid $blue;
    padding:10px;
    @include media-breakpoint-down(md) {
      padding: 10px 5px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom:15px;
    }
    background: $blue;
    color: $white;
    transition:all 0.4s;
    cursor:pointer;
    &:last-child{
      margin-right:0;
    }
    &.active,
    &:hover{
   
      background:transparent;
      color:$blue;
    }
    &:focus{
      outline:none;
      border-radius:0;
    }
  }
}

.concours{
  a{
    &:before{
      position: absolute;
      background: #f9a100;
      content: "Prix Concours";
      padding: 10px;
      color: #FFFFFF;
      display: inline-block;
      left: 0;
      top: 0;
      z-index: 1;
      box-shadow: 1px 0px 10px #00000052;
    }
  }
}
  
}
