<section id="projet-liste">
  <div class="container">
    <div class="row">
      <div class="col-sm-12" data-aos="fade-up">
        <div class="filter" >
          <button class="filter-btn active" data-filter="all">Tous</button>
          <button class="filter-btn" data-filter=".geniecivil">Génie Civil</button>
          <button class="filter-btn" data-filter=".structure">Structure</button>
          <button class="filter-btn" data-filter=".environnement">Environnement</button>
          <button class="filter-btn" data-filter=".genieferroviaire">Génie Ferroviaire</button>
          <button class="filter-btn" data-filter=".concours">Concours</button>
        </div>
      </div>
    </div>
    <div class="row filters-result" data-aos="fade-up">
      <div class="col-md-6 col-lg-4 block-photo geniecivil" >
        <a href="projet-single.html">
          <div>
          <div class="thumbnail-container">
            <div class="thumbnail lazyload" data-bg="assets/img/3.jpg">
              <div class="container-image">
                <div class="fakeimg"></div>
              </div>
            </div>
            </div>
            <div class="content">
              <div class="content-info">
                <div class="date">
                  <i class="fa fa-calendar" aria-hidden="true"></i>2013-2020
                </div>
                <div class="lieu">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>Châtel-St-Denis
                </div>
              </div>
              <h2>Gare de Châtel-St-Denis</h2>
            </div>
          </div>
        </a>
      </div><!-- block-photo -->
      <div class="col-md-6 col-lg-4 block-photo structure" >
        <a href="projet-single.html">
          <div>
          <div class="thumbnail-container">
            <div class="thumbnail lazyload" data-bg="assets/img/1.jpg">
              <div class="container-image">
                <div class="fakeimg"></div>
              </div>
            </div>
            </div>
            <div class="content">
              <div class="content-info">
                <div class="date">
                  <i class="fa fa-calendar" aria-hidden="true"></i>2013-2020
                </div>
                <div class="lieu">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>Châtel-St-Denis
                </div>
              </div>
              <h2>Gare de Châtel-St-Denis</h2>
            </div>
          </div>
        </a>
      </div><!-- block-photo -->
      <div class="col-md-6 col-lg-4 block-photo environnement" >
        <a href="projet-single.html">
          <div>
          <div class="thumbnail-container">
            <div class="thumbnail lazyload" data-bg="assets/img/2.jpg">
              <div class="container-image">
               <div class="fakeimg"></div>
              </div>
            </div>
            </div>
            <div class="content">
              <div class="content-info">
                <div class="date">
                  <i class="fa fa-calendar" aria-hidden="true"></i>2013-2020
                </div>
                <div class="lieu">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>Châtel-St-Denis
                </div>
              </div>
              <h2>Gare de Châtel-St-Denis</h2>
            </div>
          </div>
        </a>
      </div><!-- block-photo -->
      <div class="col-md-6 col-lg-4 block-photo genieferroviaire" >
        <a href="projet-single.html">
          <div>
          <div class="thumbnail-container">
            <div class="thumbnail lazyload" data-bg="assets/img/4.jpg">
              <div class="container-image">
               <div class="fakeimg"></div>
              </div>
            </div>
            </div>
            <div class="content">
              <div class="content-info">
                <div class="date">
                  <i class="fa fa-calendar" aria-hidden="true"></i>2013-2020
                </div>
                <div class="lieu">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>Châtel-St-Denis
                </div>
              </div>
              <h2>Gare de Châtel-St-Denis</h2>
            </div>
          </div>
        </a>
      </div><!-- block-photo -->
      <div class="col-md-6 col-lg-4 block-photo concours" >
        <a href="projet-single.html">
          <div>
          <div class="thumbnail-container">
            <div class="thumbnail lazyload" data-bg="assets/img/5.jpg">
              <div class="container-image">
               <div class="fakeimg"></div>
              </div>
            </div>
            </div>
            <div class="content">
              <div class="content-info">
                <div class="date">
                  <i class="fa fa-calendar" aria-hidden="true"></i>2013-2020
                </div>
                <div class="lieu">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>Châtel-St-Denis
                </div>
              </div>
              <h2>Gare de Châtel-St-Denis</h2>
            </div>
          </div>
        </a>
      </div><!-- block-photo -->
      <div class="col-md-6 col-lg-4 block-photo genieferroviaire" >
        <a href="projet-single.html">
          <div>
          <div class="thumbnail-container">
            <div class="thumbnail lazyload" data-bg="assets/img/3.jpg">
              <div class="container-image">
               <div class="fakeimg"></div>
              </div>
            </div>
            </div>
            <div class="content">
              <div class="content-info">
                <div class="date">
                  <i class="fa fa-calendar" aria-hidden="true"></i>2013-2020
                </div>
                <div class="lieu">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>Châtel-St-Denis
                </div>
              </div>
              <h2>Gare de Châtel-St-Denis</h2>
            </div>
          </div>
        </a>
      </div><!-- block-photo -->
      <div class="col-md-6 col-lg-4 block-photo environnement" >
        <a href="projet-single.html">
          <div>
          <div class="thumbnail-container">
            <div class="thumbnail lazyload" data-bg="assets/img/1.jpg">
              <div class="container-image">
               <div class="fakeimg"></div>
              </div>
            </div>
            </div>
            <div class="content">
              <div class="content-info">
                <div class="date">
                  <i class="fa fa-calendar" aria-hidden="true"></i>2013-2020
                </div>
                <div class="lieu">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>Châtel-St-Denis
                </div>
              </div>
              <h2>Gare de Châtel-St-Denis</h2>
            </div>
          </div>
        </a>
      </div><!-- block-photo -->
      <div class="col-md-6 col-lg-4 block-photo environnement" >
        <a href="projet-single.html">
          <div>
          <div class="thumbnail-container">
            <div class="thumbnail lazyload" data-bg="assets/img/4.jpg">
              <div class="container-image">
               <div class="fakeimg"></div>
              </div>
            </div>
            </div>
            <div class="content">
              <div class="content-info">
                <div class="date">
                  <i class="fa fa-calendar" aria-hidden="true"></i>2013-2020
                </div>
                <div class="lieu">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>Châtel-St-Denis
                </div>
              </div>
              <h2>Gare de Châtel-St-Denis</h2>
            </div>
          </div>
        </a>
      </div><!-- block-photo -->
         <div class="col-md-6 col-lg-4 block-photo environnement" >
        <a href="projet-single.html">
          <div>
          <div class="thumbnail-container">
            <div class="thumbnail lazyload" data-bg="assets/img/4.jpg">
              <div class="container-image">
               <div class="fakeimg"></div>
              </div>
            </div>
            </div>
            <div class="content">
              <div class="content-info">
                <div class="date">
                  <i class="fa fa-calendar" aria-hidden="true"></i>2013-2020
                </div>
                <div class="lieu">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>Châtel-St-Denis
                </div>
              </div>
              <h2>Gare de Châtel-St-Denis</h2>
            </div>
          </div>
        </a>
      </div><!-- block-photo -->
    </div>
</section>