* {
  box-sizing: border-box;
}

html,body{
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
}

main{
  margin-top: 117px;
}
a{
  text-decoration:none;
}

.title{
  text-align:center;
  color: $white;
  font-size:25px;
  margin-top: 18px;
  margin-bottom: 30px;
  @include media-breakpoint-down(md) {
    margin-top: 18px;
    margin-bottom: 30px;
  }
}

.breadcrum{
  display:flex;
  list-style: none;
  padding:0;
  flex-direction: row;
  flex-wrap: wrap;
  li{
    color: $white;
    margin-right:5px;
    font-weight:300;
    font-size:14px;
    a{
      position:relative;
      color:$white;
      opacity:0.8;
      &:before{
        display:none!important;
      }
      &:after{
        position:relative;
        margin:0;
        padding:0;
        bottom: initial;
        width: initial;
        height: initial;
        margin: 0;
        transition:  none;
        opacity: 0;
        background-color: transparent;
        left: 0;
      }
      &:hover{
        text-decoration:underline;
        
      }
      &:after{
        opacity:1;
        content: '>';
        display: inline-block;
        margin-left:5px;
      }
    }
  }
}

.sidebar{
  will-change: min-height;
}

.sidebar__inner{
  transform: translate(0, 0); /* For browsers don't support translate3d. */
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}

.pswp--zoom-allowed .pswp__img{
  cursor: default !important;
}



.pagination {
  position:relative;
  font-size:14px; /* Pagination text size */
  line-height:13px;
  display: flex;
  padding-left: 0;
  align-items: center;
  justify-content: center;

}
.pagination span, .pagination a {
  display:block;
  float:left;
  margin: 2px 2px 2px 0;
  padding:10px;
  text-decoration:none;
  width:auto;
  color:#fff; /* Pagination text color */
  background: $blue; /* Pagination non-active background color */
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.pagination a:hover{
  color:#fff;
  background: #0b4b55; /* Pagination background on hover */
}
.pagination .current{
  padding:10px;
  background: #0b4b55; /* Current page background */
  color:#fff;
}

.first a {
  display: inline-block;
  transition: all 0.4s;
}


@keyframes move {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-100px);
  }
  40% {
    transform: translateX(100px);
  }
  60% {
    transform: translateX(-50px);
  }
  80% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}
.link{


$animate: all 0.4s;
a {
  padding: 0;
  transition: $animate;
  position: relative;
  color: $blue;
  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: -4px;
    width: 0px;
    height: 2px;
    margin: 0;
    transition: $animate;
    transition-duration: 0.4s;
    opacity: 0;
    background-color: $blue;
    left: 0;
    
  }
  &:hover{
    &:before,
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}
}

.current-menu-item,
.current-page-ancestor{
  a{
    color:$blue!important;
    &:before,
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}

.single-projets, .tax-type{

  .menu-item-177{
    a{
      color:$blue!important;
      &:before,
      &:after {
        width: 100%;
        opacity: 1;
      }
    }
  }

}

strong{
    font-weight: 600;
    color: #333333;
}

.cta,
.link a.cta{
  &.white{
    border:1px solid $white;
    background:transparent;
    color:$white;
    &:hover{
      background: $blue;
      color:$white;
      border-color:  $blue;
    }
  }

  &.whitedark{
    border:1px solid $white;
    background:transparent;
    color:$white;
    &:hover{
      background: $white;
      color:$blue;
      border-color:  $white;
    }
  }
padding:12px 15px;
background:$blue;
color:$white;
display:inline-block!important;
transition:all 0.4s;
border:1px solid $blue;
&:hover{
background: transparent;
color:$blue;
}

&:after,
&:before{
  display:none;
}
i{
  padding-left:10px;
  transition:all 0.2s;
}
&:hover{
  i{
    margin-left:15px;

  }
}
}
.margin-cta{
  margin-bottom: 60px;
}

