$aos-distance: 30px;

  [data-aos^='image'][data-aos^='image'] {
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    transform: scaleY(1);
    transform-origin: 0 100%;
    transition-property: transform;
    transition-delay: 0.4s;
    background: $blue;
    z-index: 10;
    &.aos-animate {
      transform: scaleY(0);
    }
  }

.fakeimg{
  position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    transform: scaleY(1);
    transform-origin: 0 100%;
    transition-property: transform;
    background: $blue;
    z-index: 10;
    transition:all 0.5s;
    transition-delay: 300ms;
}
  .lazyloaded{
    .fakeimg{
      transform: scaleY(0)!important;
    }
  }

  .lazyloaded + .container-image > .fakeimg{
    transform: scaleY(0)!important;
  }