h1{
    font-size: 38px;
    font-weight:600;
    margin:0;
    @include media-breakpoint-down(sm) {
        font-size:29px;
    }
}

h2{
    font-size: 27px;
    font-weight:600;
    color: $blue;
    text-transform:uppercase;
    margin:0;
    margin-bottom:15px;
    @include media-breakpoint-down(sm) {
        font-size:24px;
    }
}

h3{
    font-size: 18px;
    font-weight:600;
    color: $grey-text;
    margin:0;
    margin-bottom:5px;
    @include media-breakpoint-down(sm) {
        font-size: 17px;
    }
}

h4{
    font-size: 14px;
    font-weight:600;
    color: $blue;
    margin:0;
}

p, html{
    margin:0;
    font-size:15px;
    font-weight:200;
    margin-bottom:15px;
    @include media-breakpoint-down(sm) {
        font-size: 14px;
    }
}