@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?t6qxdl');
    src:  url('fonts/icomoon.eot?t6qxdl#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?t6qxdl') format('truetype'),
      url('fonts/icomoon.woff?t6qxdl') format('woff'),
      url('fonts/icomoon.svg?t6qxdl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-team:before {
    content: "\e900";
    color: #777;
  }
  .icon-medal:before {
    content: "\e901";
    color: #777;
  }
  .icon-notebook:before {
    content: "\e902";
    color: #777;
  }
  .icon-office:before {
    content: "\e903";
    color: #777;
  }
  