.gallery{
  background: $grey-light;
  padding:60px 0;
  padding-bottom:30px;
  @include media-breakpoint-down(md) {
    padding-top:30px;
  }
  a{
    overflow:hidden;
    display:block;
    border-bottom: 5px solid $blue;
    &:hover{
      .thumbnail{
        transform: scale(1.1);
        opacity:0.7;
      }
    }
  }

  .thumbnail{
    transition:all 0.4s!important;
    position:relative!important;
    height: 245px!important;
    width:100%!important;
    background-size:cover!important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
   
  }
  .block-photo{
    margin-bottom:30px;
  }

  .my-gallery {
    width: 100%;
    float: none;
  }
  .my-gallery img {
    width: 100%;
    height: auto;
  }
  .my-gallery figure {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    width: 150px;
  }
  .my-gallery figcaption {
    display: none;
  }
}

.lg-backdrop {
  background-color: #000000e6;
}