#news {

  #masonry{
    width:100%;
  }
  background: $grey-light;
  padding: 30px 0;


  @include media-breakpoint-down(md) {
    padding-top: 30px;
  }

  .gallery{
    padding: 0;
    background: transparent;
    margin-top: 30px;
    .block-photo{
      margin-bottom:0;
    }
    .thumbnail{
      height:200px!important;
    }
  }

  $line: 7px;

  .thumbnail {
    transition: all 0.6s;
    position: relative;
    height:auto;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-bottom:5px solid $blue;
    margin-bottom: -5px;
    height:250px;
    object-fit: cover;
   
  }

  .thumbnail-container {
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
  }



    .content {
      background: $white;
      color: $black;
      padding: 30px 16px;
      transition: all 0.4s;
      padding-bottom: 20px;


      h2 {
        margin-bottom: 15px;
        margin-top: 15px;
        
      }

      &-info {
        display: flex;
        justify-content: space-between;
        color: $grey-dark;

        .date,
        .lieu {
          i {
            margin-right: 8px;
          }
        }

      }

    }

    .news{
      margin-bottom:30px;
    }

    
  
}