<section id="news">
  <div class="container">
    <div class="row">
      <div id="masonry">
        <div class="col-lg-6 grid-sizer"></div>
        <div class="col-lg-8 offset-lg-2 news" data-aos="fade-up">
          <div class="thumbnail-container">
            <img class="thumbnail lazyload" src="https://via.placeholder.com/1300x500">
            <div class="container-image">
              <div class="fakeimg"></div>
            </div>
          </div>
          <div class="content">
            <div class="content-info">
              <div class="date">
                <i class="fa fa-calendar" aria-hidden="true"></i>16.07.2020
              </div>
            </div>
            <h2>Une news avec une image à la une</h2>
            <p>Ut non tincidunt tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
              ridiculus
              mus.<br /> Suspendisse ut mattis nisl. Curabitur sodales nisl sem, nec maximus ex condimentum sit amet.
              Nam
              egestas fringilla ante nec lobortis. Sed rhoncus, justo laoreet lobortis viverra, neque leo sodales massa,
              quis facilisis est lectus nec diam. Nullam euismod a nunc eu elementum. Nulla vitae rutrum nisi.Ut non
              tincidunt tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
              ridiculus
              mus.<br /><br />Suspendisse ut mattis nisl. Curabitur sodales nisl sem, nec maximus ex condimentum sit
              amet. Nam
              egestas fringilla ante nec lobortis. Sed rhoncus, justo laoreet lobortis viverra, neque leo sodales massa,
              quis facilisis est lectus nec diam. Nullam euismod a nunc eu elementum. Nulla vitae rutrum nisi.Ut non
              tincidunt tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
              ridiculus
              mus.</p>
          </div>
        </div><!-- / news -->
        <div class="col-lg-8 offset-lg-2 news" data-aos="fade-up">
          <div class="content">
            <div class="content-info">
              <div class="date">
                <i class="fa fa-calendar" aria-hidden="true"></i>16.07.2020
              </div>
            </div>
            <h2>Une news avec une gallerie photo</h2>
            <p>Ut non tincidunt tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
              ridiculus
              mus.<br /><br /> Suspendisse ut mattis nisl. Curabitur sodales nisl sem, nec maximus ex condimentum sit
              amet. Nam
              egestas fringilla ante nec lobortis. Sed rhoncus, justo laoreet lobortis viverra, neque leo sodales massa,
              quis facilisis est lectus nec diam. Nullam euismod a nunc eu elementum. Nulla vitae rutrum nisi.</p>
            <div class="gallery">
              <div class="row row-photos">
                <div class="col-sm-6 col-lg-4 block-photo" data-aos="fade" data-aos-delay="0">
                  <a href="assets/img/3.jpg" data-width="1600" data-height="1400">
                    <div class="thumbnail lazyload" data-bg="assets/img/3.jpg">
                      <div class="container-image">
                        <div class="fakeimg"></div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-sm-6 col-lg-4 block-photo" data-aos="fade" data-aos-delay="0">
                  <a href="assets/img/4.jpg" data-width="1600" data-height="1198">
                    <div class="thumbnail lazyload" data-bg="assets/img/4.jpg">
                      <div class="container-image">
                        <div class="fakeimg"></div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-sm-6 col-lg-4 block-photo" data-aos="fade" data-aos-delay="0">
                  <a href="assets/img/5.jpg" data-width="1600" data-height="1198">
                    <div class="thumbnail lazyload" data-bg="assets/img/5.jpg">
                      <div class="container-image">
                        <div class="fakeimg"></div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div><!-- / news -->
        <div class="col-lg-8 offset-lg-2 news" data-aos="fade-up">
          <div class="content">
            <div class="content-info">
              <div class="date">
                <i class="fa fa-calendar" aria-hidden="true"></i>16.07.2020
              </div>
            </div>
            <h2>Une news simple</h2>
            <p>Ut non tincidunt tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
              ridiculus
              mus. Suspendisse ut mattis nisl. Curabitur sodales nisl sem, nec maximus ex condimentum sit amet. Nam
              egestas fringilla ante nec lobortis. <br /><br />Sed rhoncus, justo laoreet lobortis viverra, neque leo
              sodales massa,
              quis facilisis est lectus nec diam. Nullam euismod a nunc eu elementum. Nulla vitae rutrum nisi. Ut non
              tincidunt tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
              mus. Suspendisse ut mattis nisl. Curabitur sodales nisl sem, nec maximus ex condimentum sit amet. Nam
              egestas fringilla ante nec lobortis. <br /><br />Sed rhoncus, justo laoreet lobortis viverra, neque leo
              sodales massa,
              quis facilisis est lectus nec diam. Nullam euismod a nunc eu elementum. Nulla vitae rutrum nisi. Ut non
              tincidunt tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
              mus. Suspendisse ut mattis nisl. Curabitur sodales nisl sem, nec maximus ex condimentum sit amet. Nam
              egestas fringilla ante nec lobortis.<br /><br /> Sed rhoncus, justo laoreet lobortis viverra, neque leo
              sodales massa,
              quis facilisis est lectus nec diam. Nullam euismod a nunc eu elementum. Nulla vitae rutrum nisi.</p>
          </div>
        </div><!-- / news -->
        <div class="col-lg-8 offset-lg-2 news" data-aos="fade-up">
          <div class="thumbnail-container">
            <img class="thumbnail lazyload" src="https://via.placeholder.com/1300x900">
            <div class="container-image">
              <div class="fakeimg"></div>
            </div>
          </div>
          <div class="content">
            <div class="content-info">
              <div class="date">
                <i class="fa fa-calendar" aria-hidden="true"></i>16.07.2020
              </div>
            </div>
            <h2>Titre</h2>
            <p>Ut non tincidunt tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
              ridiculus
              mus. Suspendisse ut mattis nisl. Curabitur sodales nisl sem, nec maximus ex condimentum sit amet. Nam
              egestas fringilla ante nec lobortis. Sed rhoncus, justo laoreet lobortis viverra, neque leo sodales massa,
              quis facilisis est lectus nec diam. Nullam euismod a nunc eu elementum.<br /><br /> Nulla vitae rutrum
              nisi. Ut non
              tincidunt tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
              mus. Suspendisse ut mattis nisl. Curabitur sodales nisl sem, nec maximus ex condimentum sit amet. Nam
              egestas fringilla ante nec lobortis. Sed rhoncus, justo laoreet lobortis viverra, neque leo sodales massa,
              quis facilisis est lectus nec diam. Nullam euismod a nunc eu elementum. Nulla vitae rutrum nisi.</p>
          </div>
        </div><!-- / news -->
        <div class="col-lg-8 offset-lg-2 news" data-aos="fade-up">
          <div class="content">
            <div class="content-info">
              <div class="date">
                <i class="fa fa-calendar" aria-hidden="true"></i>16.07.2020
              </div>
            </div>
            <h2>Titre</h2>
            <p>Ut non tincidunt tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
              ridiculus
              mus.<br /><br /> Suspendisse ut mattis nisl. Curabitur sodales nisl sem, nec maximus ex condimentum sit
              amet. Nam
              egestas fringilla ante nec lobortis. Sed rhoncus, justo laoreet lobortis viverra, neque leo sodales massa,
              quis facilisis est lectus nec diam. Nullam euismod a nunc eu elementum. Nulla vitae rutrum nisi.</p>
          </div>
        </div><!-- / news -->
        <div class="col-lg-8 offset-lg-2 news" data-aos="fade-up">
          <div class="thumbnail-container">
            <img class="thumbnail lazyload" src="https://via.placeholder.com/1300x500">
            <div class="container-image">
               <div class="fakeimg"></div>
            </div>
          </div>
          <div class="content">
            <div class="content-info">
              <div class="date">
                <i class="fa fa-calendar" aria-hidden="true"></i>16.07.2020
              </div>
            </div>
            <h2>Titre</h2>
            <p>Ut non tincidunt tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
              ridiculus<br /><br />
              mus. Suspendisse ut mattis nisl. Curabitur sodales nisl sem, nec maximus ex condimentum sit amet. Nam
              egestas fringilla ante nec lobortis. <br /><br />Sed rhoncus, justo laoreet lobortis viverra, neque leo
              sodales massa,
              quis facilisis est lectus nec diam. Nullam euismod a nunc eu elementum. Nulla vitae rutrum nisi.</p>
          </div>
        </div><!-- / news -->
        <div class="col-lg-8 offset-lg-2 news" data-aos="fade-up">
          <div class="pagination-section">
            <ul class="pagination first">
              <li><a href="#">Prev</a></li>
              <li class="active"> <a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>