{% extends 'layout::default.twig' %}
{% block main %}

{% include '::projets-title/template.twig' %}
{% include '::projets-content/template.twig' %}
{% include '::projets-photos/template.twig' %}

{% endblock %}