<!doctype html>
<html>
  <head>

    <title>{{ site.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/69b3390da2.js"></script>
    <link rel="stylesheet" href="assets/main.css?{{ random() }}">
    {% block stylesheets %}{% endblock %}

  </head>
  <body>

    {% include '::header/template.twig' %}

    <main>
      {% block main %}{% endblock %}
    </main>

    {% include '::footer/template.twig' %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
    <script src="assets/main.js?{{ random() }}"></script>
    {% block scripts %}{% endblock %}

  </body>
</html>